---
import Metas from "../components/Metas.astro";
import { PageHeading } from "../components/typography/PageHeading";
import { PageSection } from "../components/layout/PageSection";
import Layout from "../layouts/layout.astro";
import { PageSubtitle } from "../components/typography/PageSubtitle";
import { Image } from "../components/Image";

import { TwitchIcon } from "../components/icons/TwitchIcon";
import { TwitterIcon } from "../components/icons/TwitterIcon";
import { GithubIcon } from "../components/icons/GithubIcon";
import { YoutubeIcon } from "../components/icons/YoutubeIcon";
import { SectionHeading } from "../components/typography/SectionHeading";
import { Paragraph } from "../components/typography/Paragraph";
import { Link } from "../components/typography/Link";

import headerImage from "/images/homepage-hero-mobile.jpg";
import kirschbaumLogo from "/images/kirschbaum-logo.jpg";

const metas = {
    title: "Home",
    description: "Homepage description",
    featuredImage: "#",
};
---

<Layout>
    <Metas slot="head" {...metas} />
    <PageSection isTop={true}>
        <PageHeading>Hi, I'm Alex</PageHeading>
        <div class="flex flex-col gap-y-3 mt-8 mb-10">
            <PageSubtitle>Web Developer,</PageSubtitle>
            <PageSubtitle>Streamer,</PageSubtitle>
            <PageSubtitle>Corgi Fanatic.</PageSubtitle>
        </div>
        <Image src={headerImage} alt="Alex holding his corgi, Leia" />
        <div class="flex justify-center items-center gap-x-10 mt-10">
            <TwitchIcon />
            <TwitterIcon />
            <GithubIcon />
            <YoutubeIcon />
        </div>
    </PageSection>

    <PageSection>
        <SectionHeading>About me</SectionHeading>
        <Paragraph>
            My name is Alex–it's great to meet you! I'm a web developer
            specializing in building custom experiences with the Laravel
            ecosystem, Vue.js, and Svelte.
        </Paragraph>
        <Paragraph>
            Along with building applications for my day-job, I am a Software
            Development streamer on Twitch! Together, my chat and I learn new
            web concepts and build awesome software with our favorite
            programming languages and frameworks.
        </Paragraph>
        <Paragraph>
            Outside of writing software, I'm a passionate advocate for
            inentional, hands-on mentorship and building effective
            apprenticeship programs to bring more folks into this incredible
            software community.
        </Paragraph>
    </PageSection>

    <PageSection>
        <SectionHeading>Where I work</SectionHeading>
        <div class="mb-12">
            <Link href="https://kirschbaumdevelopment.com">
                Visit Kirschbaum
            </Link>
        </div>
        <div class="mb-10">
            <Image src={kirschbaumLogo} alt="Kirschbaum Development Group logo"
            />
        </div>
        <Paragraph>
            The Kirschbaum team of Laravel experts are exceptional coders, and
            exceptional problem solvers &mdash; if there's a more efficient path
            to reach your goals, we'll find it. We've helped companies save
            millions, and we've enabled organizations without millions to
            compete with those who do.
        </Paragraph>
        <Paragraph>
            The companies we work with appreciate our ability to work seamlessly
            with both their technical and non-technical teams. We cut out the
            middlemen &mdash; our developers are great communicators with
            business sense, so you speak directly with the people working on
            your project and nothing is lost in translation.
        </Paragraph>
        <Paragraph>
            With a history of delivering practical solutions to complex
            problems, our focus is on your long-term success. We leverage
            innovative approaches and bleeding edge technologies to get your
            products and services to market quickly, while anticipating the need
            to scale and adapt as your business requirements evolve.
        </Paragraph>
    </PageSection>

    <PageSection>
        <SectionHeading>Featured Posts</SectionHeading>
        <div class="mb-12">
            <Link href="/posts">
                Browse more posts
            </Link>
        </div>
    </PageSection>
</Layout>
