---
import "../styles/fonts.css";
import "../styles/custom.css";
import { Navbar } from "../components/navigation/Navbar";
import { SiteFooter } from "../components/layout/SiteFooter";
---

<!doctype html>
<html lang="en">
    <head>
        <slot name="head" />
    </head>
    <body class="bg-black-light text-white-alt font-normal">
        <Navbar client:visible />
        <slot />
        <SiteFooter />
    </body>
</html>
