---
import "../styles/fonts.css";
import "../styles/custom.css";
import { Navbar } from "../components/navigation/Navbar";
import { SiteFooter } from "../components/layout/SiteFooter";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <slot name="head" />
    </head>
    <body class="bg-black-light text-white-alt font-normal antialiased">
        <Navbar client:visible />
        <slot />
        <SiteFooter />
    </body>
</html>
